img, svg {
  vertical-align: middle;
  height: 350px;
}

body {
  background-image: url("background.png");
  background-size: 3600px;
  background-position: left;
  font-size: 16px;
  align-items: center;
  
}
